@import"https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap";
@import"https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-main: #FAF8ED;
    --clr-main-light: #F9B572;
    --ff-title: "Bricolage Grotesque", sans-serif;
    --ff-text: "Rubik", sans-serif;
}

.container {
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;
    font-family: var(--ff-text);
    color: #1C1C1C;
}

.main-title {
    margin-top: 2rem;
    text-align: center;
    font-family: var(--ff-title);
    font-size: 2rem;
    color: var(--clr-main-light);
}

.navbar {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-main);
    border-bottom: 3px solid var(--clr-main-light);
}

.logo {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    font-family: var(--ff-title);
}
.char:hover{
    display: flex;
    translate: none;
    rotate: none;
    scale: none;
    opacity: 1;
    transform: translate(0px, -10px);
    color:var(--clr-main-light);
}

.section-content-text h3 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 2rem;
    margin-bottom: 1rem;
}
.section-content-text p {
    padding: 2rem;
}

.section-bottom {
    background-color: #F9B572;
    background-size: cover;
    background-position: center center;
    padding-block: 4rem;
    margin-bottom: 4rem;
}

.section-bottom-text {
    text-align: center;
}
.section-bottom-text h3 {
    color:  var(--clr-main);
    font-size: 3rem;
}
.section-bottom-text h4 {
    color: var(--clr-main);
    font-size: 2rem;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-categorias{
    padding: 3rem 10rem 3rem 10rem;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

.menu-link {
    text-decoration: none;
    color: #1C1C1C;
    font-size: 1.2rem;
    font-family: var(--ff-text);
}

.menu-link:hover {
    text-decoration: overline;
    color: var(--clr-main-light);
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block: 2rem;
}

.producto {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
}

.producto > div {
    padding: 1rem;
    background-color: var(--clr-main);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.producto > img {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.producto .ver-mas {
    text-decoration: none;
    background-color: var(--clr-main-light);
    color: var(--clr-main);
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
    font-family: var(--ff-text);
}

.producto .ver-mas:hover {
    background-color: black;
    color: var(--clr-main);
    transform: scale(1.1);
}

.producto-detalle {
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
}

.producto-detalle img {
    width: 100%;
}

.producto-detalle-info h3 {
    font-size: 2rem;
}
.titulo{
    font-family: var(--ff-title);
}
.categoria {
    font-size: .8rem;
    color: #424242;
    margin-top: 2rem;
}
.descripcion {
    font-size: 1rem;
    color: #424242;
    margin-top: 2rem;
}

.precio {
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}

.item-count {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.item-count button, .agregar-al-carrito, .enviar {
    background-color: var(--clr-main-light);
    border: 0;
    width: 2rem;
    height: 2rem;
    color: var(--clr-main);
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 2px solid var(--clr-main);
    transition: .2s;
}

.item-count button:hover, .agregar-al-carrito:hover, .enviar:hover {
    background-color: var(--clr-main);
    color: black;
    border: 2px solid var(--clr-main-light);
}
.item-count-add{
    display: inline-flex;
}
.agregar-al-carrito, .enviar {
    width: auto;
    height: auto;
    margin: 1rem 0rem 0rem 1rem;
    padding: .7rem;
}
